- Declaration
- Access key and values

In [1]:
students={'name':'Arya Srivastava',
          'class':'2nd',
          'roll no.': 21,
          'marks' : 90}
print(students)

{'name': 'Arya Srivastava', 'class': '2nd', 'roll no.': 21, 'marks': 90}

To access values there are two methods:

In [3]:
#1st method
print(students['name'])
print(students['class'])

Arya Srivastava
2nd

In [5]:
#2nd method
print(students.get('name'))
print(students.get('class'))

Arya Srivastava
2nd

In [8]:
#to add item in a dictionary
students['school']='CMS'
students['Mothers name']='Seema Srivastava'
print(students)

{'name': 'Arya Srivastava', 'class': '2nd', 'roll no.': 21, 'marks': 90, 'school': 'CMS', 'Mothers name': 'Seema Srivastava'}

In [10]:
for key in students:
    print(key)

name
class
roll no.
marks
school
Mothers name

In [13]:
for k,v in students.items():
    print(f'{k} : {v}')

name : Arya Srivastava
class : 2nd
roll no. : 21
marks : 90
school : CMS
Mothers name : Seema Srivastava

In [15]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll no.', 'marks', 'school', 'Mothers name'])
dict_values(['Arya Srivastava', '2nd', 21, 90, 'CMS', 'Seema Srivastava'])
dict_items([('name', 'Arya Srivastava'), ('class', '2nd'), ('roll no.', 21), ('marks', 90), ('school', 'CMS'), ('Mothers name', 'Seema Srivastava')])

In [17]:
raj_dict={
    'English' : 99 ,
    'Hindi' : 98 ,
    'Maths' : 55 ,
    'Science' : 74 ,
    'Social Science' : 65
}
print(raj_dict)

{'English': 99, 'Hindi': 98, 'Maths': 55, 'Science': 74, 'Social Science': 65}

In [19]:
company= {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'designation' : 'Team Leader',
        'salary' : 32000
    },
    'emp002' : {
        'name' : 'Sam',
        'age' : 22,
        'designation' : 'Software Developer',
        'salary' : 28000
    },
    'emp003' : {
        'name' : 'Aron',
        'age' : 29,
        'designation' : 'Web Developer',
        'salary' : 30000
        }
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}}

In [21]:
company['name'] = 'Anjali Mishra'
print(company)

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'name': 'Anjali Mishra'}

In [23]:
company['emp004'] = {
    'name' : 'Raj',
    'age' : 30,
    'designation' : 'Software Developer',
    'salary' : 35000
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp002': {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, 'emp003': {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'name': 'Anjali Mishra', 'emp004': {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}}

In [25]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'emp003', 'name', 'emp004'])
dict_values([{'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}, {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}, 'Anjali Mishra', {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}])

In [26]:
for k,v in company.items():
    print(f"{k} : {v}")

emp001 : {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}
emp002 : {'name': 'Sam', 'age': 22, 'designation': 'Software Developer', 'salary': 28000}
emp003 : {'name': 'Aron', 'age': 29, 'designation': 'Web Developer', 'salary': 30000}
name : Anjali Mishra
emp004 : {'name': 'Raj', 'age': 30, 'designation': 'Software Developer', 'salary': 35000}