Loops and it's types
- for
- while
- nested
- do while

Break Statement

In [1]:
x=[3,7,58,5,2,5,4,44,8,5,6,7,0,8,9,77,6,4,433,0]
for i in x:
    if i==0:
        break
    print(i)

3
7
58
5
2
5
4
44
8
5
6
7

In [2]:
x=[3,7,58,5,2,5,4,44,8,5,6,7,0,8,9,77,6,4,433,0]
for i in x:
    if i==0:
        break
    print(i, end=' ')

3 7 58 5 2 5 4 44 8 5 6 7

In [3]:
students=['Arya','Danish','Akash','Lokesh','Siddhant']
for student in students:
    if student=='Lokesh':
        print('Lokesh is most talkative person in the class')
        break
    print(f"{student} is most sincere")

Arya is most sincere
Danish is most sincere
Akash is most sincere
Lokesh is most talkative person in the class

Continue Statement

In [4]:
a=[1,2,5,4,6,5,4,8,7,4,5,9,6,5,4,2,3,1]
for i in a:
    if i==8:
        continue
    print(i, end=' ')

1 2 5 4 6 5 4 7 4 5 9 6 5 4 2 3 1

In [5]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num,end=" ")

1 2 3 5 1 2 23 3 1 2 2 3 3

In [6]:
odd_sum=0
for num in x:
    if num is not None and num%2!=0:
        odd_sum+=num 
print(odd_sum)

43

Enumerate function to print the index no as well

In [7]:
names=['John','Bob','Alice','Mary']
for idx, name in enumerate(names):
    print(f"{idx+1}: {name}")

1: John
2: Bob
3: Alice
4: Mary

Zip Function

In [8]:
x=[2,5,4,2,5,6,1,5,4,2,5,3,6,5,1]
y=[2,5,4,6,3,2,5,4,1,2,5,6,3,2,5]
z=[2,5,4,2,5,2,3,68,7,8,7,98,4,8,5]
for i, j, k in zip(x,y,z):
    print(i*j+k, end=' ')

6 30 20 14 20 14 8 88 11 12 32 116 22 18 10

In [9]:
movies= ['Interstellar','The Martian','Gravity','Apollo 13']
rating= [8.6,9,7.5,8.9]

for name, star in zip(movies,rating):
    print(f'{name} has a rating of {star}⭐ on IMBD')

Interstellar has a rating of 8.6⭐ on IMBD
The Martian has a rating of 9⭐ on IMBD
Gravity has a rating of 7.5⭐ on IMBD
Apollo 13 has a rating of 8.9⭐ on IMBD

FOR LOOP

In [10]:
a=['apple','banana','cherry','orange','kiwi','melon','mango','grape']
for x in a :
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango
grape

In [11]:
for x in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [12]:
for x in range (2,10):
    print(x)

2
3
4
5
6
7
8
9

In [13]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [14]:
a="hello world"
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [15]:
a="hello world"
for i in range(0,5):
    print(a[i])

h
e
l
l
o

In [16]:
for i in range (21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [18]:
a=[1,2,3,4,5,6,4,5,2,4]
for i in a:
    if i%2==0:
        print(f'even : {i}')
    else:
        print(f'odd : {i}')

odd : 1
even : 2
odd : 3
even : 4
odd : 5
even : 6
even : 4
odd : 5
even : 2
even : 4

WHILE LOOP

In [17]:
i=0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20